<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">This page is not found</h1>
        <hr />
        <a class="btn btn-outline-success" style="text-align: center" asp-controller="Items" asp-action="Index">Back Home</a>
    </div>
</div>