<dev class="row">
    <dev class="col-md-6 offset-3 alert alert-dager text-center">
        <h1>You do not have sufficient rights to open this page.</h1>
        <hr />
        <p>Please come back!</p>
        <hr />
        <p>
           <a class="btn btn-outline-dark" asp-controller="Items" asp-action="Index"> Home </a>
        </p>
    </dev>
</dev>